section.advantages
  .advantages__container
    h2.advantages__heading Коротко о нас:
    ul.advantages__list
      li.advantages__item.
        Экологически чистые материалы
      li.advantages__item.
        Скандинавский стиль по российской цене
      li.advantages__item.
        Увеличивает лайки на фотографиях
       li.advantages__item.
         Связано вручную с любовью и умилением
       li.advantages__item.
         Поддержка отечественного производителя
       li.advantages__item.
         Поставляется в подарочной упаковке

