section.advantages
  .advantages__container.container
    h2.advantages__heading Коротко о нас:
    ul.advantages__list
      li.advantages__item.advantages__item--ecology.
        Экологически чистые&nbsp;материалы
      li.advantages__item.advantages__item--cheap.
        Скандинавский стиль по&nbsp;российской цене
      li.advantages__item.advantages__item--likes.
        Увеличивает лайки на&nbsp;фотографиях
      li.advantages__item.advantages__item--by-hand.
        Связано вручную с&nbsp;любовью&nbsp;и&nbsp;умилением
      li.advantages__item.advantages__item--support.
        Поддержка отечественного производителя
      li.advantages__item.advantages__item--package.
        Поставляется в&nbsp;подарочной&nbsp;упаковке

