section.categories
  .categories__container
    h2.visually-hidden Категории
    ul.categories__list
      li.categories__item
        a.categories__link Предметы интерьера
      li.categories__item
        a.categories__link Детские игрушки
