section.categories
  .categories__container
    h2.visually-hidden Категории
    ul.categories__list
      li.categories__item.categories__item--interior
        a.categories__link(href="#")
          span Предметы <br>интерьера
      li.categories__item.categories__item--toys
        a.categories__link(href="#")
          span Детские <br>игрушки
