section.contacts
  .contacts__container
    h2.contacts__heading Контакты
    .contacts__info.contacts__info--email
      .contacts__key e-mail:
      .contacts__val
        a.contacts__link-email(href="mailto:info@mimimishkashop.ru") info@mimimishkashop.ru
    .contacts__info.contacts__info--email
      .contacts__key e-mail:
      .contacts__val.
        г. Санкт-Петербург
        <br>
        ул. Большая Конюшенная
        <br>
        д. 19/8, офис 101
    .contacts__map
    a.contacts__button(href="mailto:info@mimimishkashop.ru") Напишите нам

