section.popular-product
  .popular-product__container
    header.popular-product__header
      h2.popular-product__heading Вязаные корзинки
      span.popular-product__tag Товар недели
    p.popular-product__description.
      Экологически чистая пряжа,
      ручная работа. Доступны в шести
      расцветках и трёх размерах.
    table.popular-product__table
      tr
        td Цвет:
        td тиффани/серый
      tr
        td Диаметр:
        td 25 см
      tr
        td Высота:
        td 15 см
    .popular-product__picture
      picture
        img(src="img/triple-set-mobile.jpg" width="260" height="315")
    p.popular-product__price Цена: 990 руб.
    a.popular-product__button(href="#") Заказать
    
