.popular-product {
  position: relative;
  padding-bottom: 42px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    background: url("../img/icons/zigzag-line-product.svg") repeat-x;
    background-size: 320px 6px;

    @media(min-width: $tablet-width) {
      height: 17px;
      background-size: 772px 17px;
    }

    @media(min-width: $tablet-width) {
      height: 23px;
      background-size: 1050px 23px;
    }
  }

  @media(min-width: $tablet-width) {
    padding-bottom: 68px;
  }

  @media(min-width: $desktop-width) {
    padding-bottom: 95px;
  }
}

.popular-product__container {
  position: relative;
}

.popular-product__header {
  margin-bottom: 18px;

  @media(min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 38px;
  }

  @media(min-width: $desktop-width) {
    justify-content: start;
    margin-bottom: 35px;
  }
}

.popular-product__heading {
  margin: 0 0 4px 0;
  padding: 0;
  font-size: 1.56rem;
  line-height: 120%;
  font-weight: 700;

  @media(min-width: $tablet-width) {
    margin: 0;
    font-size: 2.69rem;
    line-height: 116%;
  }

  @media(min-width: $desktop-width) {
    order: 2;
    font-size: 3.31rem;
    line-height: 107%;

  }
}

.popular-product__tag {
  margin: 0;
  padding: 0;
  font-size: 1.06rem;
  line-height: 118%;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;

  @media(min-width: $tablet-width) {
    line-height: 100%;
    width: 100px;
    margin-right: 29px;
    text-align: center;
  }

  @media(min-width: $desktop-width) {
    margin: 0 35px 7px 40px;
    order: 1;
  }
}

.popular-product__info {
  @media(min-width: $tablet-width) {
    width: 44%;
  }

  @media(min-width: $desktop-width) {
    width: 27.8%;
    margin-left: 175px;
  }
}

.popular-product__description {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 0.94rem;
  line-height: 160%;
  font-weight: 400;
  color: #444444;

  @media(min-width: $tablet-width) {
    font-size: 1.063rem;
    line-height: 176%;
    margin-bottom: 36px;
  }

  @media(min-width: $desktop-width) {
    margin: 0 0 49px 0;
  }
}

.popular-product__table {
  width: 100%;
  font-size: 0.94rem;
  line-height: 133%;
  font-weight: 400;
  margin-bottom: 28px;

  tr {
    display: flex;
    padding: 8.7px 0;
    border-bottom: 1px solid #ececec;

    @media(min-width: $tablet-width) {
      padding: 9px 0;
    }
  }

  td:nth-child(1) {
    width: 37%;

    @media(min-width: $tablet-width) {
      width: 34%;
    }

    @media(min-width: $desktop-width) {
      width: 33%;
    }
  }

  @media(min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media(min-width: $desktop-width) {
    margin-bottom: 109px;
  }
}

.popular-product__picture {
  margin-bottom: 26px;

  img {
    width: 100%;

    @media(min-width: $tablet-width) {
      height: 404px;
      object-fit: cover;
    }

    @media(min-width: $desktop-width) {
      height: 636px;
    }
  }

  @media(min-width: $tablet-width) {
    margin: 0;
    width: 50%;
    position: absolute;
    top: 100px;
    right: 0;
    z-index: -1;
  }

  @media(min-width: $desktop-width) {
    top: -61px;
  }
}

.popular-product__price {
  margin: 0 0 22px 0;
  padding: 0;
  font-size: 1.06rem;
  line-height: 141%;
  font-weight: 700;
  text-align: center;

  @media(min-width: $tablet-width) {
    width: 43%;
    font-size: 1.25rem;
    line-height: 120%;
    margin-bottom: 30px;
  }

  @media(min-width: $desktop-width) {
    width: 27.8%;
    margin: 0 0 33px 176px;
  }
}

.popular-product__button {
  display: block;
  text-align: center;
  padding: 15px 0;
  text-decoration: none;
  font-size: 1.13rem;
  line-height: 111%;
  font-weight: 700;
  text-transform: uppercase;
  color: #444444;
  border: 2px solid #444444;

  @media(min-width: $tablet-width) {
    padding: 15px 0;
    width: 43.5%;
  }

  @media(min-width: $desktop-width) {
    padding: 14px 0;
    width: 27.8%;
    margin-left: 176px;
  }
}
