section.production-process
  .production-process__container
    h3.production-process__heading Процесс производства
    p.production-process__description.
      По просьбам наших любимых фолловеров
      мы сняли для вас подробное видео о том,
      как появляются наши товары.
    a.production-process__video
      img(src="img/video-mobile.jpg" width="260" height="150" alt="Превью видео")
      span.visually-hidden Открыть видео
    a.production-process__button(href="#") Сделать заказ
