footer.footer
  a.footer__logo
    img(src="img/logo/logo-footer.svg" width="102" height="34" alt="Логотип 'Mishka'")
  include socials
  .footer__copyright Разработано
  //TODO: Вставить логотип HtmlAcademy
