footer.footer
  .container
    .footer__container
      a.footer__logo
        img(src="img/logo/logo-footer.svg" width="102" height="34" alt="Логотип 'Mishka'")
      include socials
      .footer__copyright
        span Разработано
        img(src="img/icons/htmlacademy-logo.svg" width="27" height="34")
