ul.socials
  li.socials__item
    a.socials__link(href="#")
      span.visually-hidden Перейти в Инстаграмм-аккаунт Mishka
      svg(width="23" height="22" viewBox="0 0 23 22" fill="none")
        use(xlink:href="img/sprite.svg#insta")
  li.socials__item
    a.socials__link(href="#")
      span.visually-hidden Перейти в Фейсбук-аккаунт Mishka
      svg(width="16" height="30" viewBox="0 0 16 30" fill="none")
        use(xlink:href="img/sprite.svg#fb")
  li.socials__item
    a.socials__link(href="#")
      span.visually-hidden Перейти в Твиттер-аккаунт Mishka
      svg(width="25" height="20" viewBox="0 0 25 20" fill="none")
        use(xlink:href="img/sprite.svg#twitter")
