ul.socials
  li.socials__item
    a.socials__link
      span.visually-hidden Перейти в Инстаграмм-аккаунт Mishka
      //TODO: Вставить логотип Instagram
  li.socials__item
    a.socials__link
      span.visually-hidden Перейти в Фейсбук-аккаунт Mishka
      //TODO: Вставить логотип Facebook
  li.socials__item
    a.socials__link
      span.visually-hidden Перейти в Твиттер-аккаунт Mishka
      //TODO: Вставить логотип Twitter
