.main-nav {
  &--opened .site-list__top {
    display: flex;
  }

  &--opened .user-list {
    display: flex;
  }

  &--nojs .main-nav__toggle {
    display: none;
  }

  &--nojs .site-list__top {
    display: flex;
  }

  &--nojs .user-list {
    display: flex;
  }
}

.main-nav__logo-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 22px 0;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.main-nav__toggle {
  width: 20px;
  height: 14px;
  position: absolute;
  top: 32px;
  right: 30px;
}

.main-nav__site-list ul {
  @include reset-list;
}

.main-nav__user-list {
  @include reset-list;
}

.main-nav__delivery {
  display: none;
}
