header.header
  .header__inner
    .header__logo-wrap
      a.header__logo-link(href=pageClass === "index-page" ? false : "index.html")
        picture
          img(src="img/logo/logo-mobile.svg" width="86" height="35" alt="Логотип 'Mishka'")
        if pageClass !== "index-page"
          span.visually-hidden Ссылка на главную страницу
    include main-nav
  .header__title-wrapper.header__title-wrapper
    h1.header__title Милые штуки ручной работы для дома
