nav.main-nav.main-nav--nojs.main-nav--closed
  button.main-nav__toggle.sandwich.sandwich--active(type="button" aria-label="Открыть меню")
    .sandwich__line.sandwich__line--top
    .sandwich__line.sandwich__line--middle
    .sandwich__line.sandwich__line--bottom
  .main-nav__container
    ul.main-nav__list
      li.main-nav__item
        a.main-nav__link(href="catalog.html") Каталог товаров
      li.main-nav__item
        a.main-nav__link(href="form.html") Вязание на заказ
    ul.main-nav__list.main-nav__list--user
      li.main-nav__item
        a.main-nav__link.main-nav__link--search(href="#") Поиск по сайту
      li.main-nav__item
        a.main-nav__link.main-nav__link--basket(href="#") Корзина: пока пуста
    ul.main-nav__promo-list
      li.main-nav__promo-item
        a.main-nav__promo-link(href="#") Новые поступления
      li.main-nav__promo-item
        a.main-nav__promo-link(href="#") Распродажа
      li.main-nav__promo-item.main-nav__promo-item--about-delivery Бесплатная доставка по России

