section.order-page
    h2.visually-hidden Форма заказа
    .order-page__container
      p.form-feedback__description.
        Мы будем рады воплотить в жизнь ваши пожелания!
        Заполните простую форму заказа и мы свяжемся с вами,
        чтобы уточнить детали.
      form.order-page__form.order-form(action="" method="post")
        ul.order-form__list
          li.order-form__item.order-form__item--type
            fieldset.order-form__fieldset
              legend.order-form__legend Тип
              .order-form__inputs.order-form__inputs--radio
                label.order-form__label
                  span Аксессуар для интерьера
                  input.order-form__input.order-form__input--radio(type="radio" id="accessory" name="type" checked)
                label.order-form__label
                  span Детская игрушка
                  input.order-form__input.order-form__input--radio(type="radio" id="toy" name="type")
          li.order-form__item.order-form__item--color
            fieldset.order-form__fieldset
              legend.order-form__legend Цвет
              .order-form__inputs.order-form__inputs--checkbox
                label.order-form__label
                  span Белый
                  input.order-form__input.order-form__input--checkbox(type="radio" id="white" name="color" checked)
                label.order-form__label
                  span Серый
                  input.order-form__input.order-form__input--checkbox(type="radio" id="gray" name="color" checked)
                label.order-form__label
                  span Тиффани
                  input.order-form__input.order-form__input--checkbox(type="radio" id="tiffany" name="color")
                label.order-form__label
                  span Черный
                  input.order-form__input.order-form__input--checkbox(type="radio" id="black" name="color")
                label.order-form__label
                  span Розовый
                  input.order-form__input.order-form__input--checkbox(type="radio" id="pink" name="color")
                label.order-form__label
                  span Оранжевый
                  input.order-form__input.order-form__input--checkbox(type="radio" id="orange" name="color")
          li.order-form__item.order-form__item--name
            fieldset.order-form__fieldset
              legend.order-form__legend ФИО
              .order-form__inputs.order-form__inputs--text
                label.order-form__label
                  span Имя:
                  input.order-form__input.order-form__input--text(type="text" id="first-name" name="name" placeholder="Введите ваше имя*")
                label.order-form__label
                  span Фамилия:
                  input.order-form__input.order-form__input--text(type="text" id="surname" name="name" placeholder="Укажите фамилию*")
                label.order-form__label
                  span Фамилия:
                  input.order-form__input.order-form__input--text(type="text" id="patronymic" name="name" placeholder="Отчество, если желаете")
          li.order-form__item.order-form__item--contacts

