.reviews {

}

.reviews__heading {
  margin: 0 0 14px 0;
  padding: 0;
  font-size: 1.56rem;
  line-height: 120%;
  font-weight: 700;
}

.reviews__slider {
  margin-bottom: 38px;
}

.reviews__button {
  display: block;
  padding: 14px 0;
  font-size: 1.13rem;
  line-height: 111%;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  border: 2px solid #444444;
}
